@model X.PagedList.IPagedList<ProjetoServicoWork.Models.RegistroServico>
@using X.PagedList.Mvc.Core;
@addTagHelper *, ReflectionIT.Mvc.Paging
<h2>Equipe @ViewBag.NomeEquipe</h2>
<span>@ViewBag.DescricaoModalidadeCategoria</span>
<form method="get" class="form-inline">
    <div class="item col-md-6">
        <input name="filter" class="form-control" placeholder="filtro" />
        <button type="submit" class="col-md-3 btn-light">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Procurar
        </button>
    </div>
    <div class="item col-md-6">
        <div class="flex-column">
            <a asp-action="Create" class="btn-outline-danger-btn">
                Criar Novo
            </a>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span></span>
                    <span>Data </span>
                </th>
                <th>
                    <span>Tipo Doc</span>
                </th>
                <th>
                    <span>Número Doc</span>
                </th>
                <th>
                    Nascimento
                </th>
                <th>
                    Telefone
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    CAT SESC
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @{
                            string id = item.Id.ToString();
                        }
                        <ul class="ul-display d-flex align-items-center justify-content-between">
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ações
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                        </svg>
                                        Editar
                                    </a>
                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                        </svg>
                                        Excluir
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))

<style>

    ul {
        display: inline;
    }
</style>

